## Programa 4

Ejercicio 1 

Se trabajara con el siguiente texto

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [2]:
print (text)

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

Utilizamos el metodo split() indicando que nos divida nuestro texto despues de un "."

In [10]:
partes_texto = text.split('. ')
partes_texto

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

Despues definimos nuestras palabras clave

In [8]:
palabras_clave = ["average", "temperature", "distance"]

Hacemos un siclo for para imprimir datos relacionados con nuestras palabras clave

In [11]:
for sentencia in partes_texto:
    for palabras_clave in palabras_clave:
        if palabras_clave in sentencia:
            print(sentencia)
            break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

Por ultimo utilizamos el  metodo remplace() para convertir "C a Celsius"

In [13]:
for sentencia in partes_texto:
    for palabras_clave in palabras_clave:
        if palabras_clave in sentencia:
            print(sentencia.replace(' C', ' Celsius'))
            break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

## Ejercicio 2

Se trabajara con los siguiente datos

In [58]:
nombre = "Moon"
gravedad = 0.00162 # in kms
planeta = "Earth"

Primero definimos nuestro titulo

In [60]:
titulo = f'Los datos de gravedad sobre la {nombre}'

Despues creamos nuestra platilla con el cambio de Kilometros a metros.

In [61]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

Unimos nuestro titulo y los echos

In [62]:
plantilla = f"""{titulo.title()} 
{hechos} 
""" 
print(plantilla)

Los Datos De Gravedad Sobre La Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

Daremos nuevos datos para ver si nuestro sistema funciona

In [65]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

Hacemos una comprovacion de que al imprimir la plantilla con los nuevos datos no es posible, ya que se necesita una nueva platilla.

In [63]:
print (plantilla)

Los Datos De Gravedad Sobre La Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

Creamos una nueva platilla pero incluimos el metodo format() para solucionar el problema de impresión de plantillas

In [71]:
nueva_plantilla = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nueva_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

La imprecion es erronea en cuanto a la convercion devido al metodo format() asi que se agrega la operacion a continuacion

In [67]:
print(nueva_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2